<aside>
  <div class="center" style="padding:18px 0 8px;">
    <span class="title" style="font-weight:700; color:#0b3b78">Aprove</span>
  </div>

  <ul class="menu">
    <li><a href="#/painel">Início</a></li>

    <li class="menu-group">
      <div class="group-title">Atualizações</div>
      <ul>
        <li><a href="#/aprovacoes">Aprovações</a></li>
        <li><a href="#/alunos">Alunos</a></li>
        <li><a href="#/instituicoes">Instituições</a></li>
        <li><a href="#/cursos">Cursos</a></li>
        <li><a href="#/unidades">Unidades</a></li>
        <li><a href="#/autorizacoes">Autorização de Imagem</a></li>
        <li><a href="#/listas_aprovados">Listas de Aprovados</a></li>
      </ul>
    </li>

    <li class="menu-group">
      <div class="group-title">Ferramentas</div>
      <ul>
        <li><a href="#/conferir_listas">Conferir Listas</a></li>
        <li><a href="#/importar_aprovacoes">Importar Aprovações</a></li>
      </ul>
    </li>

    <li class="menu-group">
      <div class="group-title">Relatórios</div>
      <ul>
        <li><a href="#/convocados2fase">Convocados 2ª Fase</a></li>
        <li><a href="#/aprovados_rel">Aprovados</a></li>
        <li><a href="#/porcentagem_lista">Porcentagem Lista</a></li>
        <li><a href="#/totais_curso">Totais por Curso</a></li>
        <li><a href="#/totais_instituicao">Totais por Instituição</a></li>
      </ul>
    </li>
  </ul>
</aside>
